@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.publication {
  @include flex($dir: column);
  width: 100%;
  color: $text-dark;

  .preview {
    @include flex($jc: flex-start, $ai: flex-start, $gap: 2rem);
    width: 100%;

    .bannerContainer {
      width: 10rem;
      height: 10rem;
    }

    .publicationContainer {
      @include flex($dir: column, $ai: flex-start, $jc: flex-start);
      font-size: 1.6rem;
      word-break: break-word;

      .title {
        margin: 0;
        font-size: 2rem;
      }

      .content {
        overflow: hidden;
        max-height: 7.2rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }
    }
  }

  .footer {
    @include flex($jc: flex-start, $gap: 2rem);
    width: 100%;
    font-size: 1.4rem;
  }
}
