@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.followButton {
  font-size: 2rem;
  background-color: inherit;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
}
