@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.notificationItem {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 2rem;

  svg {
    vertical-align: middle;
    stroke: $secondary-dark;

    &:first-of-type {
      cursor: pointer;
      stroke: $primary-color;
    }
  }

  a {
    display: inline;
    font-weight: 600;
    font-size: 1.4rem;
  }

  .user {
    color: $primary-color;
  }

  .title {
    color: $secondary-dark;
    text-decoration: underline;
  }

  .comment {
    font-size: 1.4rem;
    color: $secondary-dark;
  }
}
