@import '@/common.styles/variables.module.scss';
@import '@/common.styles/mixins.module.scss';

@keyframes logo {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.containerLogo {
  @include flex($gap: 2rem);
  padding-left: 2rem;

  .logo {
    @include flex($gap: 2rem);
    font-size: 2.5rem;

    & img {
      animation: logo 2s linear;
    }

    p {
      margin: 0;

      @media screen and (max-width: 720px) {
        display: none;
      }
    }
  }

  .logoImgWrapper {
    position: relative;
    width: 5rem;
    height: 5rem;

    @media screen and (max-width: 500px) {
      width: 40px;
      height: 40px;
    }

    @media screen and (max-width: 500px) {
      width: 35px;
      height: 35px;
    }
  }
}

.header {
  color: #fff;
  padding: 1rem 0;
  background-color: #212832;
  @include flex($jc: space-between);
  position: fixed;
  width: 100%;
  z-index: 40;
  height: 60px;
}
