@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.userIcon {
  @include center-content;
  width: 4rem;
  height: 4rem;
  color: $text-light;
  font-size: 2.2rem;
  background-color: $header-background;
  border-radius: 50%;
  cursor: pointer;
}

.userInfo {
  @include flex($jc: flex-start);
  font-size: 1.2rem;
  width: 100%;

  p {
    margin: 0.3rem;
  }

  svg {
    margin-left: auto;
  }

  .name {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
