@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.subscriber {
  @include flex($jc: space-between, $gap: 2rem);
  font-size: 1.4rem;
  width: 100%;
  padding: 1.5rem 0;

  p {
    margin: 0;
  }

  .buttonsContainer {
    @include flex($dir: column);
  }

  button {
    flex-shrink: 0;
    @include darkButton($w: 9rem, $h: 3.3rem);
    padding: 0;

    @media screen and (max-width: 650px) {
      padding: 0.2rem;
    }

    &:last-child {
      background-color: inherit;
      color: $text-dark;
    }

    @media screen and (max-width: 650px) {
      width: 7rem;
      height: 3rem;
      font-size: 1.2rem;
    }
  }
}

.confirmation {
  @include flex($dir: column, $gap: 2rem);
  text-align: center;

  .confirmationButtons {
    @include flex($gap: 2rem);
  }
}
