@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.aside {
  @include flex($dir: column, $jc: flex-start);
  width: 30%;
  position: relative;
  margin: 3rem 0;

  .stickyContainer {
    position: sticky;
  }
}
