@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.container {
  @include flex($gap: 2rem);
  font-size: 2rem;

  a {
    @include flex();
  }

  .userIcon {
    @include center-content;
    width: 4.5rem;
    height: 4.5rem;
    color: $text-light;
    font-size: 2.5rem;
    background-color: $primary-color;
    border-radius: 50%;
  }

  .write:hover {
    transform: scale(1.05);
  }
}