@import '@/common.styles/variables.module.scss';

.html {
  font-size: 10px;
  color: $text-dark;
}

.body {
  background-color: #dee6e7;
  font-weight: 500;
}

.main {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
