@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.searchBar {
  @include flex();
  width: 100%;

  input {
    width: 100%;
    padding: 1.2rem 0.4rem 0.5rem 0.2rem;
    font-size: 1.6rem;
    color: $text-dark;
    margin-bottom: 3rem;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 5rem;

    &:focus {
      border-color: $primary-color;
    }
  }

  svg {
    width: 3.5rem;
    height: 3.5rem;
    fill: #fff;
    cursor: pointer;
  }

  input:focus ~ svg {
    fill: $primary-color;
  }

  button {
    @include button($w: 12rem, $h: 4rem);
  }
}
