@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.comment {
  width: 100%;
  margin: 1rem;
  @include flex($jc: flex-start, $gap: 1.5rem, $ai: flex-start);
  font-size: 1.4rem;
  color: $text-dark;
  cursor: pointer;

  p {
    margin: 0;
  }

  .commentContent {
    width: 80%;

    .details {
      @include flex($jc: flex-start);

      .name {
        font-size: 1.8rem;
        font-weight: 600;
        color: $primary-color;
        cursor: pointer;
      }
      .dot {
        width: 5px;
        height: 5px;
        background-color: $primary-color;
        border-radius: 50%;
      }

      .date {
        color: #646262;
      }
    }

    .author {
      font-size: 1.2rem;
      color: #646262;
    }

    .message {
      margin-top: 0.5rem;
    }
  }
}
