@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.chatWrapper {
  position: absolute;
  z-index: 110;
  bottom: -0.5rem;
  right: -2rem;
  border: 1px solid $text-dark;
  border-radius: 1rem;
  overflow: hidden;
  width: 50rem;
  color: $text-dark;
  cursor: auto;

  p {
    margin: 0;
  }

  .chatHeader,
  .chatFooter {
    background-color: $text-dark;
    color: #fff;
    @include flex($jc: space-between);
  }

  .chatHeader {
    position: relative;
    padding: 0.5rem 0.5rem;

    .assistantContainer {
      @include flex();
    }

    .assistant {
      p {
        margin-bottom: 0.2rem;
      }

      p:first-of-type {
        font-size: 1.6rem;
      }

      p:last-of-type {
        font-size: 1.2rem;
        opacity: 0.4;
        font-weight: 300;
      }
    }

    .closeChatButton {
      position: relative;
      z-index: 30;
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      padding-right: 2rem;

      span {
        position: absolute;
        display: block;
        width: 2.2rem;
        height: 2px;
        margin: 1rem;
        background-color: #fff;
        border-radius: 1rem;
      }

      :first-child {
        transform: rotate(45deg);
      }

      :last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .chatFooter {
    background-color: #dee6e7;
    border-top: 1px solid rgb(155, 166, 178);
    padding: 0 1rem 0 0.5rem;

    .messageContainer {
      width: 95%;
      padding: 0.8rem 0;
    }

    textarea {
      font-size: 1.4rem;
      border: none;
      background-color: #dee6e7;
      font-weight: 600;

      &::placeholder {
        font-weight: 300;
      }
    }

    .button {
      cursor: pointer;
      stroke: $text-dark;
      width: 5%;
    }
  }

  .chat {
    @include flex($dir: column, $jc: flex-start, $ai: flex-start);
    background-color: #dee6e7;
    padding: 2rem 1rem;
    font-size: 1.4rem;

    .assistantMessage,
    .userMessage {
      background-color: #fff;
      padding: 1rem;
      border-radius: 1.5rem;
    }

    .assistantMessage {
      @include flex();
      border-bottom-left-radius: 0.2rem;
    }

    .userMessage {
      align-self: flex-end;
      border-bottom-right-radius: 0.2rem;
    }
  }

  .button {
    cursor: pointer;
  }

  .assistantIcon {
    border-radius: 50%;
  }
}
