@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.snackBar {
  position: fixed;
  bottom: 3rem;
  right: -50%;
  transition: 1s;
  max-width: 30rem;
  @include flex($jc: flex-start);
  padding-left: 1rem;
  font-size: 1.4rem;
  z-index: 50;

  &.active {
    right: 3rem;
  }

  .content {
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
    padding: 1.5rem;
  }
}