@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.paginationContainer {
  @include flex($dir: column, $jc: space-between);
  width: 100%;
  color: $text-dark;
  font-size: 1.4rem;
  min-height: 50vh;

  .children {
    width: 100%;
  }

  .paginator {
    @include flex();
    align-self: flex-end;
    padding-bottom: 2rem;

    .arrow {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.4rem;
      @include center-content();
      border-radius: 8px;
      border: 1px solid $text-dark;
      background-color: inherit;
      cursor: pointer;

      &:hover {
        color: #fff;
        background-color: $text-dark;
      }

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
