@import '@/common.styles/mixins.module.scss';
@import '@/common.styles/variables.module.scss';

.formWrapper {
  @include flex($dir: column);
  margin: 9rem auto;
  padding: 2rem 3rem;
  background-color: $secondary-color;
  width: 40rem;
  border-radius: 2rem;
  color: #fff;
  font-size: 1.8rem;

  h2 {
    font-size: 3rem;
    margin: 1rem 0 2rem;
  }

  .formBox {
    @include flex($dir: column, $gap: 2rem);
    width: 100%;
  }

  form {
    @include flex($dir: column, $gap: 2rem);
    margin: 0 3rem 0.5rem;
    width: 100%;
  }

  .inputContainer {
    width: 100%;
    position: relative;
    @include center-content;

    & ~ span {
      align-self: flex-start;
      color: rgb(210, 12, 12);
      font-size: 1.4rem;
    }

    input {
      width: 100%;
      padding: 1.2rem 0.4rem 0.5rem 0.2rem;
      font-size: 1.6rem;
      color: $text-dark;
      margin-bottom: 3rem;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
      margin-bottom: 1rem;
    }

    .eye {
      position: absolute;
      z-index: 3;
      right: 0.5rem;
      bottom: 1rem;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px $secondary-color inset !important;
    }

    label {
      position: absolute;
      top: -2rem;
      left: 0;
      padding: 1rem 0;
      font-size: 1.2rem;
      color: #fff;
      pointer-events: none;
      transition: 0.5s;
      font-weight: 400;
    }
  }

  .inputContainer:not(:first-child) input {
    padding-right: 4rem;
  }

  button {
    @include button($w: 100%, $h: 5rem);
    @include center-content;
    gap: 1rem;
    border-radius: 1rem;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $text-dark;
    }
  }

  .changeModeButton {
    @include flex($wr: wrap, $gap: 0.5rem);
  }
}
